Source: linux-atm
Section: net
Priority: optional
Maintainer: Peter De Schrijver (p2) <p2@mind.be>
Build-Depends: debhelper (>> 5), bison, flex, autoconf, automake, libtool, perl
Standards-Version: 3.8.3

Package: atm-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Base programs for ATM in Linux, the net-tools for ATM
 This package provides all the basic programs needed for setting up,
 monitoring and tuning ATM networks. Such as:
  * atmsigd, an ATM signal daemon that implements the ATM UNI protocol.
  * atmtcp, a tool to setup ATM over TCP connections.
  * atmarpd, an implementation of the ATMARP protocol (RFC1577, RFC1755)
  * zeppelin, an ATM LAN Emulation client daemon
  * les and bus, ATM LAN Emulation service daemons
 .
 Notice that upstream still flags these tools as experimental software and
 says that there is still a number of known bugs and issues. The
 software is, however, in productive use at a number of sites and is
 working reliably.
Homepage: http://linux-atm.sourceforge.net/

Package: br2684ctl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utility for configuring RFC 2684 ATM/Ethernet bridging
 ATM bridging is a way to extend Ethernet over an ATM network and is
 mainly used for DSL connections. This package contains the user space
 utility needed to configure the kernel driver.
 .
 This package is needed if you own an USB DSL modem and your connection
 uses one of these protocols: RFC 1483 bridged (RFC 2684 bridged),
 RFC 1483 bridged (RFC 2684 routed), PPP over Ethernet (PPPoE).

Package: libatm1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: atm-tools (<< 2.4.1-6)
Description: shared library for ATM (Asynchronous Transfer Mode)
 Shared libraries needed by ATM (Asynchronous Transfer Mode) related programs
Homepage: http://linux-atm.sourceforge.net/

Package: libatm1-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libatm1 (= ${binary:Version})
Replaces: atm-dev (<< 2.4.1-7)
Conflicts: atm-dev (<< 2.4.1-7)
Provides: libatm-dev
Description: Development files for compiling ATM programs
 Header files and development libraries for compiling ATM (Asynchronous 
 Transfer Mode) related programs.
Homepage: http://linux-atm.sourceforge.net/
